body {
    font-family: verdana;
    font-size: 20px;
    background-color: #a7f2f6;
    color: #383d3b;

    text-align: center;
}

button {
    font-family: verdana;
    background-color: #ffff;
    color: #383d3b;
    border-color: #383d3b;

    font-size: 40px;

    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.form{
    font-family: verdana;
    font-size: 20px;
}

.container {
    display: block;
    margin: auto;
    max-width: 500px;
}

h1 {
    font-family: verdana;
    font-size: 100px;
    color: #383d3b;
    background-color: #468ac6;

    font-size: 50px;

    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    
    padding: 20px;

    border-bottom: solid;
    border-bottom-color: #3b4f98;
    border-bottom-width: 10px;
}

.gameButtons {
    padding-top: 90px;
}

#formButton {
    margin-top: 30px;
}

.signInButtons {
    padding-top: 50px;
}